// Colours
$white: #ffffff;
$primary: #17042b;
$secondary: #603392;
$secondary-hover: #2e134c;

$bg-colour-primary: #f6f6f6;
$bg-colour-secondary: #efeaf4;

$google: #3e82f7;
$facebook: #3b5998;

$form-input-bg: $bg-colour-secondary;

// Spacing
$spacer: 1rem;

// Border-radius
$border-radius: 4px;
$border-radius-lg: 8px;

// Animations
$transition-speed: 325ms;
$transition-feel: ease-in-out;
