html {
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $bg-colour-primary;
    font-weight: bold;
    color: $primary;
    height: 100%;
}
