.form {
    &__group {
        margin-bottom: ($spacer * 0.375);

        &.-bm {
            margin-bottom: $spacer;
        }
    }

    &__input {
        background-color: $form-input-bg;
        border-radius: $border-radius;
        padding: $spacer * 0.625;
        border-color: transparent;
        width: 100%;
        transition: background-color $transition-speed $transition-feel,
            border-color $transition-speed $transition-feel;

        &::placeholder {
            font-weight: normal;
            font-size: 1rem;
            color: $primary;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: $white;
            border-color: $primary;
        }
    }
}
